*{
    margin: 0;
    padding: 0;
}
.principal {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #ffffff00;
  
}
.fundoAbout{
    object-fit: cover;
    z-index: -1;
    position: absolute;
    
}
.contentsAbout{
    height: 100vh;
    width: 100%;
    position: relative;
}

.ulAbout {
    display: flex;
    margin-top: 0px;
    position: relative;
    background: rgba(102, 51, 153, 0);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.253);
   
}
li {
    list-style:none;
}
.liAbout{
    width: 400px;
    text-align: center;
    height: 500px;
    box-shadow: -5px 1px 15px rgba(0, 0, 0, 0.315);
    margin-top: 5px;
}
.lifabi {
list-style: none;
margin-left: 5px;
background: rgba(78, 99, 138, 0);
position: relative;
margin-top: 5px;
}

.fabi {
    width: auto;
    height: 500px;
    background: #ffffff00;
    top: 0;
    left: 0;   
}

