*{
    margin: 0;
    padding: 0;
}
@keyframes fotos {
    100%{right:0px;}
    0%{right: 500px;}
}
.engrenagens{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.principal {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #ffffff00;
  
}
.fundoAbout{
    object-fit: cover;
    z-index: -1;
    position: absolute;
    
}
.contentsAbout{
    height: 100vh;
    width: 100%;
    position: relative;
}

.ulAbout {
    display: flex;
    margin-top: 20px;
    position: relative;
    background: rgba(102, 51, 153, 0);
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
   
}
li {
    list-style:none;
   
}
.liAbout{
    width: 518px; 
    height: 518px;
    position: relative;
    background: rgba(235,239,240,255);
    display: block;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1.5px solid #74677c;
}
.pAbout {
    text-align: center;
    
}

.imgAbout{
    width: 150px;
    height: auto;
    margin-top: 10px;
}
.gif{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5px;
    top: 5px;
    box-shadow: 1px 5px 10px rgb(147, 57, 207);
    border-radius: 10px;
   
}

.lifabiano {
position: relative;
animation-name: fotos;
animation-duration: 5s;
z-index: -1;
width: 400px;
margin-top: 2px;
background:#74677c;
border-radius: 10px;
margin-left: 5px;
border: 1px solid white;
}

.fabi {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
  
}
.ulAbout{
  
}


