*{
    margin: 0;
    padding: 0;
}
.fabiano{
height: 80vh;
width: auto;
}
.contentsContacts{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        
}
.conteiner{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
     
}

.r2{
    width: 600px;
    background:rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    
 }

  /*social midia e imagem - ul li */
.r1{
    width: 400px;
    background-color:#f5000000;
    display: block;
    margin: 0;
    box-sizing: border-box;
  
}
.linkedin{
 text-decoration: none;
 color: rgb(0, 86, 245);
 
}
.git{
    text-decoration: none;
    color: rgb(253, 112, 30);
}
.instagran{
text-decoration: none;
color: rgb(191, 24, 197);
}
.facebook{
text-decoration: none;
color: rgb(45, 30, 253);
}

.liMidia {
    list-style: none;
    ;
    display: flex;
}
  .m1{
    display: flex;
    gap: 100px;
    padding-top: 30px;
  }
  
  .m2{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    }

    .imgMidia{
    width: 50px;
    height: auto;
    margin-right: 10px ;
    }

 /*css contact e texto cabeçalho*/
  .titulo{
    margin-top: 20px;
  }
 .contact{
    background: rgb(255, 255, 255);
    color: #333333;
    font-size: 80px;
    }
 .frase{
    font-size: 26px;
    color: #757575;
    line-height: 1.3;
    }
 /*css contact e texto - fim*/

 @media (max-width:400px){
    .euletras{
        width: 50%;
        height: auto;
    }
    .r1{display: block;
    overflow-x: hidden;}
    .r2{overflow-x: hidden;}
    .m1{display: block;}
    .m2{display: block;}
    .imgMidia{width: 40px;
    }
    .conteiner{overflow-x: hidden;}
 }