*{
margin: 0;
padding: 0;
}

li {
    list-style: none;
     
}
a{
padding-top: 1.5rem;
padding-bottom: 1rem;
box-sizing: border-box;}

.logos {
    display: flex;
    gap: 50px;
    background: rgb(223, 223, 223);
    height: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: auto;
    justify-content: center;
    padding-left: 5rem;
    height: 100vh;
    }
    
img{
width: 45px;
}

#contentsContacts {
overflow-y:auto;
text-align: center;

}

.navContact{
background: rgba(0, 128, 0, 0);
width: 100%;
margin-top: .5rem;
}

.tituloContact {
padding:0 1rem;
font-size: 80px;
background: rgba(255, 0, 0, 0);
box-sizing: border-box;
color: rgb();
margin-left: 60px;
margin-top: 5rem;
}
.frase{
padding-bottom: 1rem;
font-size: 25px;
color: rgb(119, 119, 119);
margin-left: 60px;
width: 100%;
box-sizing: border-box;
}

.pc{
padding-left: 10px;
font-size: 20px;} 

.linkedin{
    display: flex;
    text-decoration: none;
    color:rgb(6, 91, 218);
}
.git{
    display: flex;
    text-decoration: none;
    color: orangered;
}
.facebook{
    display: flex;
    text-decoration: none;
    color: rgb(46, 46, 192);
}
.instagran{
    display: flex;
    text-decoration: none;
    color: rgb(202, 42, 122);
}

.linkedin:hover{
    color: rgb(78, 76, 76);
}
.git:hover{
    color: rgb(78, 76, 76);; 
}
.facebook:hover{
    color: rgb(78, 76, 76);; 
}
.instagran:hover{
    color: rgb(78, 76, 76);; 
}

.conteiner{
    width: 200px;
    height: 200px;
    background: red;
    right: 0;
    top: 70px;
    display: none;
}


@media (max-width:600px){
 
    .conteiner{display: none;}

     .contents {
        overflow-y: visible;
       
     }

    .logos{
        display: block;
        list-style:none;
        background: rgba(54, 7, 7, 0);
        margin-left: 0;
        height: 100vh;
        padding-left: 3rem;
        
        }
        
    .tituloContact {
            font-size: 60px;
            background: rgba(255, 0, 0, 0);
            color: rgb(80, 79, 79);
            margin-left: 0;
            margin-top: 40px;
            }

            .frase{
            padding:0 1rem;
            color: rgb(126, 126, 126);
            background-color: rgba(165, 42, 42, 0);
            margin-left: 0;
            font-size: 20px;
        
            }
            
            .pc{
            padding-top: 5px;
            font-size: 18px;} 

        img{
        width: 45px;
            } 
            
        .linkedin{
            display: flex;
            text-decoration: none;
            color:rgb(6, 91, 218);

        }
        .git{
            padding-top: 20px;        
            display: flex;
            text-decoration: none;
            color: orangered;
            
        }
        .facebook{
            display: flex;
            text-decoration: none;
            color: rgb(46, 46, 192); 
            
        }
        .instagran{
            display: flex;
            text-decoration: none;
            color: rgb(202, 42, 122);
            padding-top: 20px;
        }

     
}