.containerContact{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.containerEmail{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c4c4c4;
    color: #FFF;
    padding: 14px;
    height: 70vh;
  }
  
  .title{
    margin-bottom: 14px;
    color:rgb(31, 65, 117);
    font-weight: 400;

  }
  
  .form{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
    color:rgb(31, 65, 117);
  }
  .pContact{
    margin-top: 10px;
    margin-bottom: 5px
  }
  
  .input{
    height: 34px;
    border-radius: 4px;
    border: 0;
    padding: 0 8px;
    margin: auto;
  }
  
  .textarea{
    margin: auto;
    margin-bottom: 14px;
    border-radius: 4px;
    border: 0;
    padding: 8px;
    height: 94px;
    resize: none;
    width: 600px;
  }
  
  .button{
    height: 34px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background-color: #fdfdfd;
    font-size: 18px;
    transition: background-color, transform 0.8s;
    margin: auto;
    width: 300px;
    color:rgb(31, 65, 117);
  }
  
  .button:hover{
    background:rgb(31, 65, 117);
    color: white; 
  }

input {
    width: 600px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: sans-serif;
    border:1px #525252 solid;
    border-radius: 5px;
    padding: 1px;
    }
.textP{
    margin-top:15px;
}
.conteudoSocial{
  display: flex;
}
/* social midia */
.aContact{
  text-decoration: none;
  color: black;
}
.aContact:hover{
  color:rgb(4, 0, 255);
}


.social{
  margin-bottom: 20px;
  width: 450px;  
  margin: auto;
  margin-bottom: 5rem;
}
.fabianoDiv{
  margin: auto;
  
}
.fabianoContact{
  width: 400px;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}
.pSocial{
margin-left: 1rem;
}

.liContact{
  box-sizing: border-box;
  padding: 20px;
}
#liGit{
  margin-left: 12px;
}

.contactTitle{
 font-size: 70px;
 margin: auto;
 color: #525252;
 margin-top: 30px;
}
.imgSocial{
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.ulContact{
  display: flex;
  gap: 30px;
  margin-top: 10px;
  background: rgba(255, 0, 0, 0);
  margin: auto;
}
.textContact{
  margin: auto;
  margin-bottom: 40px;
}

@media (max-width:700px){
  .contactTitle {
    text-align: center;
  }
  .ulContact{
    justify-content: center;
  }
  .fabianoDiv{
   margin: auto;
  }

  .textContact{
    font-size: 20px;
    margin-left: .5rem;
    text-align: center;
  }
  .conteudoSocial{
    display: block;
  }
  .social{
    margin-bottom: 20px;
    width: 310px;  
    margin: auto;
  }
  
input{
    width: 320px;
}
.textarea{
    width: 320px;
}

.ulContact{
  display: flex;
  gap: 20px;
  margin-top: 10px;
  background: rgba(255, 0, 0, 0);
  margin-left: .2rem;
}
.fabianoContact{
  width: 320px;
  height: auto;
  margin: auto;
}
.fabianoDiv{
  background: rgba(255, 0, 0, 0);
display: flex;
margin-bottom: 30px;
}
}