
@keyframes movimento {
    100% {left: 0px;}
    0% {left: 1000px;}
}
.contents{
    overflow: hidden;
}

.bgVideo{
width: 100%;
height:100vh;
object-fit: cover;
z-index: -1;
position: absolute;
}

.dev{
position: relative;
margin-top: 30vh;
animation: movimento;
animation-duration: 10s;
font-family: 'Zen Dots',cursive;
white-space: nowrap;
text-align: center;
color: rgb(252, 252, 252);
font-size: 50px;
margin-top: 150px;
text-shadow:
0 1px #808d93,
-1px 0 #cdd2d5,
-1px 2px #808d93,
-2px 1px #cdd2d5,
-2px 3px #808d93,
-3px 2px #cdd2d5,
-3px 4px #808d93,
-4px 3px #cdd2d5,
-4px 5px #808d93,
-5px 4px #cdd2d5,
-5px 6px #808d93,
-6px 5px #cdd2d5,
-6px 7px #808d93,
-7px 6px #cdd2d5,
-7px 8px #808d93,
-8px 7px #cdd2d5;

}


   