
@keyframes movimento {
    100% {top: 0px;}
    0% {top: 500px;}
}
.content{
    position: fixed;
    width: 100%;
    height: calc(100vh );
    overflow: hidden;
    overflow-x: hidden; 
    justify-content: center;
    background:#dbdbdb;
}
.conteudoHome{
    background:#dbdbdb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vh;
    justify-content: center;

}
.bgImage{
width: 100%;
height: auto;
margin-top: 0px;
box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.226);
}

.quadrado1{
    width: 600px;
    background: rgba(219,219,219,255);
    margin: auto;
    margin-bottom: 0;
    background:#dbdbdb;
}
.quadrado2{
width: 600px;
background:#dbdbdb;
text-align: center;
}

.textQuadrado2{
margin-top: 40px;
font-size: 60px;
color:rgb(32, 32, 32);;
}
.textQuadrado3{
background:#dbdbdb;
width: 100%;
text-align: center;
margin-top: 0;
margin-top: 20px;
}

@media (max-width: 700px){

.contents{
overflow-y: hidden;
}
    
.conteudoHome{
display: block;
overflow-x: hidden;
padding: 0;
overflow-y: auto;
}
.bgImage{
    width: 100%;
    height: auto;
}
.quadrado1{
    width: 100%;
}
.quadrado2{
width: 100%;
}

}



   