
*{
    margin: 0;
    padding: 0;
}

@keyframes movimentos {
    100% {bottom: 0px;}
    0% {bottom: -500px;}
}

.fabianoHome{
width: 100%;
height: 500px;
background: #dbdbdb;
position: relative;
animation-name: movimentos;
animation-duration: 2s;
}
.contentsHome{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden; 
        background: #dbdbdb;
}
.conteinerHome{
    background: #dbdbdb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 0px;
}

.r2Home{
    width: 600px;
    height: auto;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #dbdbdb;
 }

.r1Home{
    width: 400px;
    background: #dbdbdb;
    display: block;
    box-sizing: border-box;
    margin: auto;
}

 /*css conteudo r1 e texto cabeçalho*/

 .conteudoHome{
    color: #444444;
    font-size: 80px;
    background: #dbdbdb;
    }
 .fraseHome{
    font-size: 30px;
    color: #303030;
    line-height: 1.3;
    background: #dbdbdb;
    }

    .name{
   font-family: 'Dancing Script', cursive;
   text-align: center;
   font-size: 55px;
   font-weight: 100;
   color: rgb(31, 65, 117);
    }
 /*css previa do portfolio - fim*/

.previa{
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    padding-bottom: 3rem;
    background: #dbdbdb;
    box-sizing: border-box;
    box-shadow: inset 3px 2px 4px rgba(51, 12, 12, 0.164);
} 
.portfolio{
    display: flex; 
    gap: 30px;
    list-style: none;
    margin: auto;
    margin-bottom: 30px;
}
.mylast{
    color: rgb(31, 65, 117);
    font-size: 40px;
    text-decoration: none;
}
.p{
    width: 250px;
    height: 250px;
    background: rgba(31, 65, 117, 0.301);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
    margin-top: 10px;
}
.aHome{
    color: rgb(31, 65, 117);
    text-decoration: none;
    background: #dbdbdb; 
}


.printSite{
    width: 250px;
    height:250px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
}
.movimentacao{
    width: 250px;
    height:250px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
}
.nave{
    width: 250px;
    height:250px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
}

.message {
 margin-bottom: 10px;
 margin-top: 50px;
}
h4{

font-size: 2rem;
font-weight: 100;
margin-bottom: 50px;

}

textarea{
    padding: .5rem;
    font-size: 16px;
}
 @media (max-width:700px){
    .fabianoHome{
        height: 300px;
        width: auto;
    } 

    input{
        width: 290px;
        margin-left: 25px;
        height: 30px;}

    h4{margin-left: 25px;}

    .conteudo{
        background:#e0e0e0d8;
        color: #333333;
        font-size: 50px;
        }
        .fraseHome{
            font-size: 18px;
            padding-bottom: 20px;
            }
    .euletras{
        width: 50%;
        height: auto;
    }
    .r1{display: block;
    overflow-x: hidden;}
    .r2{overflow-x: hidden;}
    .m1{display: block;}
    .m2{display: block;
    margin-top: 0px;}
    .imgMidia{width: 40px;
    }
    .imgMidia{
    margin-bottom: 25px;
    }

    .conteiner{overflow-x: hidden;}

.email {
    overflow-x: hidden;
}
.textarea{
    width: 290px;
}

.conteiner {
    margin-top: -20px;
}

.portfolio{
    display: block; 
}

.p{ margin: auto;
    width: 250px;
    height: 250px;
    background: rgba(31, 65, 117, 0.301);
    margin-bottom: 25px;
    margin-top: 8px;
    
}
.aHome{
    
}


 }



   