
footer{
    width: 100%;
    background:rgb(66, 66, 66);
    height: 30px;
    padding: 50;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.copy{
   padding: 5px;
   font-size: 13px;
   color: white;
}

.creditos{
text-decoration: none;
color: rgb(250, 250, 250);
}

@media(max-width:700px){
    .copy{
        font-size: 13px;
    }
}

@media(max-width:500px){
    .copy{
        font-size: 8px;
    }
}

