
footer{
    width: 100%;
    background:rgba(1, 3, 17);
    height: 50px;
    margin: 0;
    padding: 50;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.copy{
   padding: 15px;
   font-size: 14px;
   color: var(--cor1);
}