*{
padding: 0;
margin: 0;
}

:root {
--cor1:rgb(185, 185, 185); /*cor linhas menu*/
--cor2:rgb(185, 185, 185); /*cor nome menu*/
--cor3:rgb(185, 185, 185); /*cor links do menu */
--cor4:rgb(15, 56, 88); /*cor do header */
--cor5:rgb(15, 56, 88); /*cor do menu mobile */

} 

.a {
text-decoration: none;
font-family: sans-serif;
font-size: 15px;
    }

a:hover {
background: rgba(185, 185, 185)
}

.logo {
 width: 60px;
 height: 60px;
}

.header{ 
box-sizing: border-box;
height: 70px;
display: flex;
align-items: center;
padding: 1rem;
justify-content:space-between;
background-color: var(--cor4);

}

.menu{display: flex;
list-style: none;
gap: .5rem;
}

.menu .a {color: var(--cor3);
display: block;
padding: .5rem;

}

.menu .a:hover{
color: black;
}

.btn-mobile {display: none;}
img{
    width: 50px;
    
}
.social {
gap: 20px;
position: absolute;
bottom: 0;
left: 0;
list-style: none;
padding-top: .5rem;
background-color: rgb(15, 56, 88);
box-sizing: border-box;
width: 100%;
text-align: center;
height:0;
transition: .6s;
display: flex;
bottom: -10px;
justify-content: center;
border-top: 2px solid rgba(0, 0, 0, 0.062);
}
.contact{
 position: absolute;
 bottom: 0;
 left: 0;
 list-style: none;
 padding-top: .5rem;
 background-color:var(--cor1);
 box-sizing: border-box;
 width: 100%;
 text-align: center;
 height: calc(100vh - 70px);
 transition: .6s;

}
.linkedin{display: none;}
.git{display: none;}
.face{display: none;}
.insta{display: none;}

.contactH1{
margin-top: 30px;
margin-bottom: 20px;
font-size: 80px;
}

.pc{border-top: 1px solid;}

.contGrande {
display: flex;
background-color: rgba(102, 51, 153, 0);
list-style: none;
justify-content: center;
margin-top: 50px;
border-bottom: 1px solid;
}
/*abaixo font-size das img das midias sociais*/ 
.linkedin1{width: 100px;
padding: 10px;}
.git1{width: 100px;
padding: 10px;}
.face1{width: 100px;
padding: 10px;}
.insta1{width: 100px;
padding: 10px;}


/*Daqui para baixo começa o MenuMobile */

@media (max-width: 630px){

btn-mobile {display: block;
}
.header{
    border-bottom: 2px solid rgba(0, 0, 0, .05);;
}

.a{font-size: 18px;
}

img{
    width: 50px;
    margin-top: 20px;
    margin-left: 40px
}

.social {
display: flex;
gap: 20px;
position: absolute;
bottom: -10px;
left: 0;
list-style: none;
padding-top: .5rem;
background-color: var(--cor1);
box-sizing: border-box;
width: 100%;
height:0;
transition: .6s;
text-align: center;
}
.contact{
 height: calc(100vh - 400px);
}
.linkedin {display: block;}
.git{display: block;}
.face{display: block;}
.insta{display: block;}
.contactH1{display: none;}
.contGrande{
display: flex;
}



.menu {
display: block;
position: absolute;
width: 100%;
top: 70px;
right: 0px;
background-color: var(--cor5);
height:0px;
transition: .6s;
z-index:1000;
visibility: hidden; 
overflow-y:hidden ;
text-align: center;
} 

.nav.active .menu {
height: calc(410px - 70px);
visibility: visible; 
}

.menu .a { 
padding: 2rem 0;
margin:0;
border-bottom: 2px solid rgba(0, 0, 0, .05);
}

.btn-mobile { 
display: flex;
padding: .5rem 1rem;
font-size: 1rem;
border:none;
background: none;
cursor: pointer;
color: var(--cor2);
}

.hamburger {
display: block;
width: 20px;
border-top: 2px solid;
margin-left: 5px;
color: var(--cor1);
} 
    
.hamburger::after{
content: '';
width: 20px;
height: 2px;
display: block;
margin-top: 5px;
transition: .3s;
position: relative; 
background:currentColor;
}

.hamburger::before {
content: '';
width: 20px;
height: 2px;
display: block;
margin-top: 5px;
background: currentColor;
}   

nav.active .hamburger {border-top-color: transparent;}

nav.active .hamburger::before { transform: rotate(135deg);} 

nav.active .hamburger::after { transform: rotate(-135deg);
top:-7px
 }


.hamburgerExit{
display: block;
width: 30px;
border-top: 2px solid black;
color: black;
position: absolute;
right: 1rem;

}
.hamburgerExit::after{content: '';width: 30px;height: 2px;display: block;margin-top: 5px;transition: .3s;position: relative; background:currentColor;}
    
.hamburgerExit::before {
content: '';
width: 30px;
height: 2px;
display: block;
margin-top: 5px;
background: currentColor;
}   

.pc{
position: absolute;
top: 100px;
left: 0;
font-size:20px ;
color: var(--cor1);
background-color:var(--cor4);
padding-bottom:110px ;
padding-top: 15px;
}
.contGrande{
    display: none;
}

}