*{
    padding: 0;
    margin: 0;
}
.contentPortfolio{
width: 100%;
height: 100%;
justify-content: center;
background: #f6f6f6;

}

.quadroPortfolio{
    padding-top: 80px;
    display: block;
    justify-content: center;
    margin-bottom: 20px;
}

.quadro1{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.quadro2{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.imgPortfolio{
width: 500px;
margin-top: 20px;
}

.quadroLi{
    width: 250px;
    height: 250px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329);
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}

.quadroLi:hover{
    background: rgba(31, 65, 117, 0.199);
}

.aPortfolio{
    margin-top: 20px;
    color: rgb(66, 66, 66);
    text-decoration: none;
    background: rgba(31, 65, 117, 0); 
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}
.sitePortfolio{
    width: 250px;
    height:250px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
    
}

@media(max-width:800px){
    
    .contentPortfolio{
        overflow-x: hidden;
        text-align: center;}


    .quadro2{
        display: block;
        justify-content: center;
        gap: 20px;
       
    }
   
    .imgPortfolio{
        width: 380px;
        margin-top: 20px;
        margin-bottom: 30px;
        }

    .quadroLi{
    list-style: none;
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
    height:250px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);

        }        
}